/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  background-color: hsl(221, 100%, 96%);
  display: block;
}

/* Results summary card */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  }
  
.results {
  background-color: hsl(241, 81%, 54%);
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.container {
  background-color: white;
  width: 200px;
  height: 500px;
  border-radius: 0 20px 20px 0;
}

.button {
  border-radius: 100vw;
}

.button:hover {
  background-color: hsl(241, 81%, 54%);
}
  
